<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59853788646-k1d8ejofim6ffetf3kiuqqtjg2h2ng3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59853788646-k1d8ejofim6ffetf3kiuqqtjg2h2ng3d</string>
	<key>API_KEY</key>
	<string>AIzaSyAo-wqk1GFh2ugX_ml0TYVW7QxVIrpMJDA</string>
	<key>GCM_SENDER_ID</key>
	<string>59853788646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tooolbox</string>
	<key>PROJECT_ID</key>
	<string>toolbox-9b274</string>
	<key>STORAGE_BUCKET</key>
	<string>toolbox-9b274.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59853788646:ios:ce34735421ce8aae0d7227</string>
</dict>
</plist>